<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ansi 0 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.black.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.black.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.black.rf }}</real>
	</dict>
	<key>Ansi 1 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.red.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.red.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.red.rf }}</real>
	</dict>
	<key>Ansi 2 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.green.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.green.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.green.rf }}</real>
	</dict>
	<key>Ansi 3 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.yellow.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.yellow.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.yellow.rf }}</real>
	</dict>
	<key>Ansi 4 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.blue.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.blue.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.blue.rf }}</real>
	</dict>
	<key>Ansi 5 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.magenta.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.magenta.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.magenta.rf }}</real>
	</dict>
	<key>Ansi 6 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.cyan.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.cyan.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.cyan.rf }}</real>
	</dict>
	<key>Ansi 7 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.white.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.white.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.white.rf }}</real>
	</dict>
	<key>Ansi 8 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.black_bright.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.black_bright.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.black_bright.rf }}</real>
	</dict>
	<key>Ansi 9 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.red_bright.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.red_bright.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.red_bright.rf }}</real>
	</dict>
	<key>Ansi 10 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.green_bright.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.green_bright.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.green_bright.rf }}</real>
	</dict>
	<key>Ansi 11 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.yellow_bright.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.yellow_bright.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.yellow_bright.rf }}</real>
	</dict>
	<key>Ansi 12 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.blue_bright.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.blue_bright.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.blue_bright.rf }}</real>
	</dict>
	<key>Ansi 13 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.magenta_bright.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.magenta_bright.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.magenta_bright.rf }}</real>
	</dict>
	<key>Ansi 14 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.cyan_bright.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.cyan_bright.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.cyan_bright.rf }}</real>
	</dict>
	<key>Ansi 15 Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ ansi.white_bright.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ ansi.white_bright.gf }}</real>
		<key>Red Component</key>
		<real>{{ ansi.white_bright.rf }}</real>
	</dict>
	<key>Background Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ bg.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ bg.gf }}</real>
		<key>Red Component</key>
		<real>{{ bg.rf }}</real>
	</dict>
	<key>Bold Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ markup.bold.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ markup.bold.gf }}</real>
		<key>Red Component</key>
		<real>{{ markup.bold.rf }}</real>
	</dict>
	<key>Cursor Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ accent.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ accent.gf }}</real>
		<key>Red Component</key>
		<real>{{ accent.rf }}</real>
	</dict>
	<key>Cursor Guide Color</key>
	<dict>
		<key>Alpha Component</key>
		<real>0.07</real>
		<key>Blue Component</key>
		<real>{{ guide.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ guide.gf }}</real>
		<key>Red Component</key>
		<real>{{ guide.rf }}</real>
	</dict>
	<key>Cursor Text Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ fg_alt.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ fg_alt.gf }}</real>
		<key>Red Component</key>
		<real>{{ fg_alt.rf }}</real>
	</dict>
	<key>Foreground Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ fg.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ fg.gf }}</real>
		<key>Red Component</key>
		<real>{{ fg.rf }}</real>
	</dict>
	<key>Link Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ markup.link.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ markup.link.gf }}</real>
		<key>Red Component</key>
		<real>{{ markup.link.rf }}</real>
	</dict>
	<key>Selected Text Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ fg_alt.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ fg_alt.gf }}</real>
		<key>Red Component</key>
		<real>{{ fg_alt.rf }}</real>
	</dict>
	<key>Selection Color</key>
	<dict>
		<key>Alpha Component</key>
		<integer>1</integer>
		<key>Blue Component</key>
		<real>{{ select_alt.bf }}</real>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Green Component</key>
		<real>{{ select_alt.gf }}</real>
		<key>Red Component</key>
		<real>{{ select_alt.rf }}</real>
	</dict>
</dict>
</plist>
