palette = 0={{ ansi.black }}
palette = 1={{ ansi.red }}
palette = 2={{ ansi.green }}
palette = 3={{ ansi.yellow }}
palette = 4={{ ansi.blue }}
palette = 5={{ ansi.magenta }}
palette = 6={{ ansi.cyan }}
palette = 7={{ ansi.white }}
palette = 8={{ ansi.black_bright }}
palette = 9={{ ansi.red_bright }}
palette = 10={{ ansi.green_bright }}
palette = 11={{ ansi.yellow_bright }}
palette = 12={{ ansi.blue_bright }}
palette = 13={{ ansi.magenta_bright }}
palette = 14={{ ansi.cyan_bright }}
palette = 15={{ ansi.white_bright }}
background = {{ bg }}
foreground = {{ fg }}
cursor-color = {{ accent }}
cursor-text = {{ fg_alt }}
selection-background = {{ select_alt }}
selection-foreground = {{ fg_alt }}
